<div class="page-header">
    <div class="page-title">
        <h1>{{ .Title }}</h1>
    </div>
    {{ $pageData := . }}
    {{ $mantained_by := $pageData.Params.mantained_by }}


    <div class="page-author">
        {{ range $mantained_by }}
            {{ $teamMemberData := ( index $.Site.Data "team-members" . ) }}
            <div class="avatar page-avatar">
                {{ $github_profile_url := (print $.Site.Params.github_base_url $teamMemberData.github) }}
                <a href="{{ $github_profile_url }}" target="_blank">
                    <img
                        src="{{ $teamMemberData.picture }}"
                        alt=""
                        title="{{ $teamMemberData.name }}"
                        class="user-avatar"
                    />
                </a>
            </div>
        {{ end }}
        <div class="page-meta">
            <ul class="meta-group">
                <li class="meta-data">
                    Actualizado:
                    {{ $pageData.Lastmod.Format "Jan 2, 2006" }}
                </li>
                <li class="meta-data">
                    {{ $github_url := (print $.Site.Params.github_web_ide_base_url $pageData.File.Path) }}
                    <a href="{{ $github_url }}" target="_blank">
                        Contribuye a esta página
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
